PyMuPDF
langchain
langchain-core
langchain-community
transformers==4.41.2
torch
torchvision
pillow
numpy
scikit-learn
faiss-cpu
python-dotenv
langchain-huggingface
huggingface_hub
streamlit
requests
langchain-text-splitters

sentence-transformers